<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SteamPunkWeb/SteamPunkApp/static/css/transition_page.css">
    <title>Transitioning...</title>
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop>
            <source src="/SteamPunkWeb/SteamPunkApp/static/pictures/gears.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="transition-container">
        <h1>Loading...</h1>
    </div>

    <script>
        function redirectTo(url) {
            setTimeout(() => {
                window.location.href = url;
            }, 2000); // Adjust the time as needed
        }

        const params = new URLSearchParams(window.location.search);
        const targetPage = params.get('target') || '/SteamPunkWeb/SteamPunkApp/templates/welcome_page.html';
        redirectTo(targetPage);
    </script>
</body>
</html>
