<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/SteamPunkWeb/SteamPunkApp/static/css/Tutorial_page.css" />
  </head>
  <body>
    <div class="turorial-page">
        <div class="overlap-group-wrapper">
          <div class="overlap-group">
            <div class="overlap">
              <!-- Create a container for the rotated content -->
              <div class="rotated-content">
                <p class="user-guide-how-to">User Guide: <br />How to Interact with Punk-bot Effectively</p>
                <img class="to-use-the-steampunk" src="/SteamPunkWeb/SteamPunkApp/static/pictures/prompt1.png" />
              </div>
            </div>
            <div class="component">
                <a href="/SteamPunkWeb/SteamPunkApp/templates/transition_page.html">
                  <img class="BACK" src="/SteamPunkWeb/SteamPunkApp/static/pictures/BACK.png" alt="Back" />
                </a>
              </div>
              
          </div>
        </div>
      </div>
