<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/SteamPunkWeb/SteamPunkApp/static/css/welcome_page.css" />
</head>
<body>
    <div class="welcome-page">
        <div class="overlap-group-wrapper">
            <div class="overlap-group">
                <img class="WELCOME-TO-STEAM" src="/SteamPunkWeb/SteamPunkApp/static/pictures/WELCOME TO STEAM PUNK BOT!.png" />
                <div class="overlap">
                    <img class="rectangle" src="/SteamPunkWeb/SteamPunkApp/static/pictures/Big_button.png" />
                    <div class="text-wrapper" id="startChatButton">Start Chat</div>
                </div>
                <div class="div">
                    <div class="Tutorial_button" id="tutorialButton">
                        <img class="img" src="/SteamPunkWeb/SteamPunkApp/static/pictures/back_button.png" />
                        <div class="text-wrapper-2">Tutorial</div>
                    </div>
                    <div class="About_button" id="aboutButton">
                        <img class="img" src="/SteamPunkWeb/SteamPunkApp/static/pictures/back_button.png" />
                        <div class="text-wrapper-3">About</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('startChatButton').onclick = function() {
            // Redirect to transitional page before chat page
            window.location.href = 'transition_page.html?target=chat_page.html';
        };
    
        document.getElementById('tutorialButton').onclick = function() {
         
            // Redirect to transitional page before tutorial page
            window.location.href = 'transition_page.html?target=tutorial_page.html';
        };
    
        document.getElementById('aboutButton').onclick = function() {
            // Redirect to transitional page before about page
            window.location.href = 'transition_page.html?target=about_page.html';
        };
    </script>
    
</body>
</html>
